{% extends "dashboard/admin/base_site.html" %}
{% load i18n admin_static pipeline %}

{% block extrastyle %}
{% stylesheet 'dashboard' %}
{% endblock %}

{% block coltype %}container{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}{% verbatim %}
<style>
#loading-bar .bar {
  background: #c00;
}
</style>
<div id="" class="row" ng-app="DashboardApp">
    <div ng-controller="DashboardController">

      <!-- Filters -->
      <div class="row">
        <form class="form col-md-4">
          <div class="form-group">
            <label>Date Range</label>
            <input date-range-picker class="form-control date-picker" type="text" ng-model="datepicker_date" />
          </div>
        </form>
      </div><!-- END Filters -->

      <!-- Content -->
      <div class="row">
          <div class="col-md-12 panel panel-default">
            <canvas id="line" class="chart chart-line"
                    chart-data="actions.data"
                    chart-labels="actions.labels"
                    chart-series="actions.series"
                    chart-legend="true"
                    chart-click="">
            </canvas>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">

          <div class="col-md-6 panel panel-default">
            <div class="panel-heading">Gender</div>
            <div class="panel-body">
              <canvas id="pie" class="chart chart-pie" data="gender_data.data" labels="gender_data.labels"></canvas>
              <table class="table table-striped">
                <tr>
                  <th ng-repeat="label in gender_data.labels track by $index">{{ label }}</th>
                </tr>
                <tr>
                  <td ng-repeat="value in gender_data.data track by $index">{{ value }}</td>
                </tr>
              </table>
            </div>
          </div>

          <div class="col-md-6 panel panel-default">
            <div class="panel-heading">Gender - Desexed</div>
            <div class="panel-body">
              <canvas id="pie" class="chart chart-pie" data="desexedgender_data.data" labels="desexedgender_data.labels"></canvas>
              <table class="table table-striped">
                <tr>
                  <th ng-repeat="label in desexedgender_data.labels track by $index">{{ label }}</th>
                </tr>
                <tr>
                  <td ng-repeat="value in desexedgender_data.data track by $index">{{ value }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div><!-- END Content -->


      <!-- List of Cats -->
      <table st-table="cat_list" st-safe-src="full_cat_list" class="col-md-12 table-responsive table-bordered table-striped">
        <thead>
        <tr>
          <th st-sort="pk">Id</th>
          <th st-sort="name" st-sort-default="true">Name</th>
          <th st-sort="dob">Age (dob)</th>
          <th st-sort="sex">Sex</th>
          <th st-sort="current_status">Current status</th>
          <th st-sort="breed">Breed</th>
          <th st-sort="altered">Altered</th>
          <th st-sort="desex_done">Desexed</th>
          <th st-sort="shire">Shire</th>
          <th>Recent Events</th>
        </tr>
        <tr>
          <th colspan="11">
            <input st-search placeholder="Search" class="input-sm form-control" type="search"/>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th colspan="11">
            <b>No. Results:</b> <em>{{ cat_list.length }}</em>
          </th>
        </tr>
        <tr ng-repeat="item in cat_list track by $index">
          <td>{{ item.pk }}</td>
          <td class="col-md-3">
            <b>{{ item.name }}</b><br/>
            <em>{{ item.colour }}</em>
            <span ng-show="item.tattoo"><br/><b>tattoo:</b> {{ item.tattoo }}</span>
            <span ng-show="item.microchip_id"><br/><b>microchip id:</b> {{ item.microchip_id }}</span>
            <span ng-show="item.receipt_id"><br/><b>receipt id:</b> {{ item.receipt_id }}</span>
            <p ng-show="item.animal_notes">{{ item.animal_notes }}</p>
          </td>
          <td>{{ item.age }}yrs<br/><small>({{ item.dob | date }})</small></td>
          <td>{{ item.gender }}</td>
          <td>{{ item.current_status }}</td>
          <td>{{ item.breed }}</td>
          <td>{{ item.altered }}</td>
          <td>{{ item.desex_done }}</td>
          <td>{{ item.shire }}</td>
          <td class="col-md-3"><span class="event-log" data-events="item.events"></span></td>
        </tr>
        </tbody>
<!--         <tfoot>
          <tr>
            <td colspan="5" class="text-center">
              <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
            </td>
          </tr>
        </tfoot> -->
      </table>
      <!-- END List of Cats -->

    </div>
</div>
{% endverbatim %}{% endblock %}

{% block sidebar %}{% endblock %}

{% block footer %}
  {% javascript 'dashboard' %}
{% endblock %}