{% extends "dashboard/admin/base_site.html" %}
{% load i18n admin_static pipeline %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css" />
{% stylesheet 'dashboard' %}
{% endblock %}

{% block coltype %}container{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}{% verbatim %}
<div id="" class="row" ng-app="DashboardApp">
<div ng-controller="DashboardController">

<!-- Content -->
  <div class="col-md-7">
contetnt?
<canvas id="line" class="chart chart-line" data="data"
  labels="labels" legend="true" series="series"
  click="onClick">
</canvas>

  </div>

  <!-- Filters -->
  <div class="col-md-5">
    <input date-range-picker class="form-control date-picker" type="text" ng-model="date" />
  </div>

</div>
</div>
{% endverbatim %}{% endblock %}

{% block sidebar %}{% endblock %}

{% block footer %}
  {% javascript 'dashboard' %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
{% endblock %}