{% extends "dashboard/admin/base_site.html" %}
{% load i18n admin_static pipeline %}

{% block extrastyle %}
{% stylesheet 'dashboard' %}
{% endblock %}

{% block coltype %}container{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}{% verbatim %}
<div id="" class="row" ng-app="DashboardApp">
<div ng-controller="DashboardController">

<!-- Content -->
  <div class="col-md-7">

<canvas id="polar-area" class="chart chart-polar-area" data="data" labels="labels"></canvas>

  </div>

  <!-- Filters -->
  <div class="col-md-5">
    <input date-range-picker class="form-control date-picker" type="text" ng-model="datepicker_date" />
  </div>

</div>
</div>
{% endverbatim %}{% endblock %}

{% block sidebar %}{% endblock %}

{% block footer %}
  {% javascript 'dashboard' %}
{% endblock %}